extends layout.pug 

block content

    -if(usuario != null)

        //- PERFIL ADMIN
        -if(usuario.rol == "admin")

            div#div_home

                nav#HOME_HEADER 
                    p#HOME_nombre_empresa TeamWork
                    p#HOME_nombre=usuario.nombre
                    div#HOME_flechita
                        div#HOME_menu_flechita
                            nav 
                                div Mi Cuenta 
                                div Configuración 
                                div Cerrar Sesión
                    img#HOME_foto_perfil(src="./img/fotoprueba.png")

                div#HOME_cuerpo 
                    h1#HOME_cuerpo_titulo ¡ Le damos la bienvenida a Innovatec !
                    p#HOME_cuerpo_texto_nombre Desde TeamWork, esperamos que vaya bien la instancia Raúl Gómez Muñoz.
                    p#HOME_cuerpo_texto_no_nombre ¿No eres Raúl Gómez Muñoz?
                    p#HOME_cuerpo_texto_tutorial ¿Necesitas que te haga un tutorial?
                    img#HOME_cuerpo_imagen_empresa(src="./img/empresa1.png")
                    button#HOME_tutorial_si SÍ
                    img#HOME_asistente_tutorial(src="./img/asistente2.png")
                    button#HOME_tutorial_no NO

                nav#HOME_MENU
                    div.HOME_menu-item
                        img(src="./img/icon/casa.png", class="HOME_menu_imagen")
                        p.HOME_menu_texto Inicio   
                    div.HOME_menu-item
                        img(src="./img/icon/mail.png", class="HOME_menu_imagen")
                        p.HOME_menu_texto Correo    
                    div.HOME_menu-item
                        img(src="./img/icon/modulo.png", class="HOME_menu_imagen")
                        p.HOME_menu_texto Módulos   
                    div.HOME_menu-item
                        img(src="./img/icon/estadisticas.png", class="HOME_menu_imagen")
                        p.HOME_menu_texto Estadisticas  

        //- PERFIL EMPRESARIO
        -if(usuario.rol == "empresario")

            //- MODULOS
            -if(usuario.MOD_COLOR == "SI" || usuario.MOD_COLOR == "INACTIVE")
                input#MOD_COLOR_ADQUIRIDO(style="display : none" value=usuario.MOD_COLOR)
            -if(usuario.MOD_CHAT == "SI" || usuario.MOD_CHAT == "INACTIVE")
                input#MOD_CHAT_ADQUIRIDO(style="display : none" value=usuario.MOD_CHAT)
            -if(usuario.MOD_CALENDARIO == "SI" ||usuario.MOD_CALENDARIO == "INACTIVE")
                input#MOD_CALENDARIO_ADQUIRIDO(style="display : none" value=usuario.MOD_CALENDARIO)
            -if(usuario.MOD_HORA == "SI" ||usuario.MOD_HORA == "INACTIVE")
                input#MOD_HORA_ADQUIRIDO(style="display : none" value=usuario.MOD_HORA)

            //- VARIABLES
            input#HOME_DNI_USUARIO(type="text", value=usuario.dni)
            input#HOME_COLOR_USUARIO(type="text", value=usuario.color)
            input#HOME_ID_EMPRESA(type="text", value=usuario.id_empresa)
            input#HOME_DATE_USUARIO(type="text", value=usuario.date)
            input#HOME_CORREO_USUARIO(type="text", value=usuario.correo)
            input#HOME_CARGO_USUARIO(type="text", value=usuario.cargo)
            input#HOME_OFERENTE_EMPRESA(type="text", value=usuario.aparece_oferente)

            div#div_home
                div#HOME_CALENDARIO
                p#HOME_HORA_ACTUAL    
                nav#HOME_HEADER 
                    p#HOME_nombre_empresa=usuario.nombre_empresa
                    p#HOME_nombre=usuario.nombre
                    div#HOME_flechita
                        div#HOME_menu_flechita
                            nav 
                                div#HOME_mi_cuenta Mi Cuenta 
                                div#HOME_configuracion Configuración 
                                div#HOME_cerrar_sesion Cerrar Sesión
                    img#HOME_foto_perfil(src=usuario.foto_perfil)

                div#HOME_cuerpo 
                    
                    h1#HOME_cuerpo_titulo ¡ Le damos la bienvenida a #{usuario.nombre_empresa} !
                    p#HOME_cuerpo_texto_nombre Desde TeamWork, esperamos que vaya bien la instancia #{usuario.nombre}.
                    p#HOME_cuerpo_texto_no_nombre
                    img#HOME_cuerpo_imagen_empresa(src="./img/logo.png")
                    -if(usuario.tutorial == "none")
                        p#HOME_cuerpo_texto_tutorial ¿Necesitas que te haga un tutorial?
                        
                        button#HOME_tutorial_si SÍ
                        img#HOME_asistente_tutorial(src="./img/asistente2.png")
                        button#HOME_tutorial_no NO
                    
                nav#HOME_MENU
                    div.HOME_menu-item
                        img#HOME_INICIO(src="./img/icon/casa.png", class="HOME_menu_imagen")
                        p.HOME_menu_texto#HOME_INICIO Inicio    
                    div.HOME_menu-item
                        img#HOME_PERSONAL(src="./img/icon/contacto.png", class="HOME_menu_imagen")
                        p.HOME_menu_texto#HOME_PERSONAL Personal 
                    div.HOME_menu-item
                        img#HOME_CORREO(src="./img/icon/mail.png", class="HOME_menu_imagen")
                        p.HOME_menu_texto#HOME_CORREO Correo    
                    div.HOME_menu-item
                        img#HOME_MODULOS(src="./img/icon/modulo.png", class="HOME_menu_imagen")
                        p.HOME_menu_texto#HOME_MODULOS Módulos   
                    div.HOME_menu-item
                        img#HOME_EMPRESA(src="./img/icon/empresa.png", class="HOME_menu_imagen")
                        p.HOME_menu_texto#HOME_EMPRESA Empresa   


            datalist#color-options 
                option(value="#C94947") Rojo 
                option(value="#478ac9") Azul
                option(value="#26d836") Verde
                option(value="#ecee45") Amarillo
                option(value="#df951b") Naranja

                option(value="#ef2ab6") Rosa
                option(value="#970f80") Morado
                option(value="#0bb6ae") Cian
                option(value="#b61b0b") Granate
                option(value="#220594") Azul Marino

                option(value="#60ac79") Verde 
                option(value="#a9612c") Marron
                option(value="#aaaaaa") Gris Claro 
                option(value="#666666") Gris
                option(value="#000000") Negro



            script(type="text/javascript", src="../js/home.js")   
            script(type="text/javascript", src="../js/home_empresario.js")
       
        //- PERFIL TRABAJADOR
        -if(usuario.rol == "trabajador")

            //- MODULOS
            -if(usuario.MOD_COLOR == "SI" || usuario.MOD_COLOR == "INACTIVE")
                input#MOD_COLOR_ADQUIRIDO(style="display : none" value=usuario.MOD_COLOR)
            -if(usuario.MOD_CHAT == "SI" || usuario.MOD_CHAT == "INACTIVE")
                input#MOD_CHAT_ADQUIRIDO(style="display : none" value=usuario.MOD_CHAT)
            -if(usuario.MOD_CALENDARIO == "SI" ||usuario.MOD_CALENDARIO == "INACTIVE")
                input#MOD_CALENDARIO_ADQUIRIDO(style="display : none" value=usuario.MOD_CALENDARIO)
            -if(usuario.MOD_HORA == "SI" ||usuario.MOD_HORA == "INACTIVE")
                input#MOD_HORA_ADQUIRIDO(style="display : none" value=usuario.MOD_HORA)

            input#HOME_DNI_USUARIO(type="text", value=usuario.dni)
            input#HOME_COLOR_USUARIO(type="text", value=usuario.color)
            input#HOME_ID_EMPRESA(type="text", value=usuario.id_empresa)
            input#HOME_DATE_USUARIO(type="text", value=usuario.date)
            input#HOME_CORREO_USUARIO(type="text", value=usuario.correo)
            input#HOME_CARGO_USUARIO(type="text", value=usuario.cargo)

            div#div_home
                div#HOME_CALENDARIO
                p#HOME_HORA_ACTUAL 
                nav#HOME_HEADER 
                    p#HOME_nombre_empresa=usuario.nombre_empresa
                    p#HOME_nombre=usuario.nombre
                    div#HOME_flechita
                        div#HOME_menu_flechita
                            nav 
                                div#HOME_mi_cuenta Mi Cuenta 
                                div#HOME_configuracion Configuración 
                                div#HOME_cerrar_sesion Cerrar Sesión
                    img#HOME_foto_perfil(src=usuario.foto_perfil)

                div#HOME_cuerpo 

                    h1#HOME_cuerpo_titulo ¡ Le damos la bienvenida a #{usuario.nombre_empresa} !
                    p#HOME_cuerpo_texto_nombre Desde TeamWork, esperamos que vaya bien la instancia #{usuario.nombre}.
                    p#HOME_cuerpo_texto_no_nombre
                    img#HOME_cuerpo_imagen_empresa(src="./img/logo.png")
                    -if(usuario.tutorial == "none")
                        p#HOME_cuerpo_texto_tutorial ¿Necesitas que te haga un tutorial?
                        
                        button#HOME_tutorial_si SÍ
                        img#HOME_asistente_tutorial(src="./img/asistente2.png")
                        button#HOME_tutorial_no NO
                
                nav#HOME_MENU
                    div.HOME_menu-item
                        img#HOME_INICIO(src="./img/icon/casa.png", class="HOME_menu_imagen")
                        p.HOME_menu_texto#HOME_INICIO Inicio    
                    div.HOME_menu-item
                        img#HOME_PERSONAL(src="./img/icon/contacto.png", class="HOME_menu_imagen")
                        p.HOME_menu_texto#HOME_PERSONAL Personal 
                    div.HOME_menu-item
                        img#HOME_CORREO(src="./img/icon/mail.png", class="HOME_menu_imagen")
                        p.HOME_menu_texto#HOME_CORREO Correo    
                        
            script(type="text/javascript", src="../js/home.js")   
            script(type="text/javascript", src="../js/home_trabajador.js")
        
        //- PERFIL OFERENTE
        -if(usuario.rol == "oferente")

            input#HOME_DNI_USUARIO(type="text", value=usuario.dni)
            input#HOME_COLOR_USUARIO(type="text", value=usuario.color)
            input#HOME_ID_EMPRESA(type="text", value=usuario.id_empresa)
            input#HOME_DATE_USUARIO(type="text", value=usuario.date)
            input#HOME_CORREO_USUARIO(type="text", value=usuario.correo)
            input#HOME_CARGO_USUARIO(type="text", value=usuario.cargo)

            div#div_home
                div#HOME_CALENDARIO
                p#HOME_HORA_ACTUAL 
                nav#HOME_HEADER 
                    p#HOME_nombre_empresa
                    p#HOME_nombre=usuario.nombre
                    div#HOME_flechita
                        div#HOME_menu_flechita
                            nav 
                                div#HOME_mi_cuenta Mi Cuenta 
                                div#HOME_configuracion Configuración 
                                div#HOME_cerrar_sesion Cerrar Sesión
                    img#HOME_foto_perfil(src=usuario.foto_perfil)

                div#HOME_cuerpo 

                    h1#HOME_cuerpo_titulo ¡ Le damos la bienvenida a TeamWork !
                    p#HOME_cuerpo_texto_nombre Desde TeamWork, esperamos que vaya bien la instancia #{usuario.nombre}.
                    p#HOME_cuerpo_texto_no_nombre
                    img#HOME_cuerpo_imagen_empresa(src="./img/logo.png")
                    -if(usuario.tutorial == "none")
                        p#HOME_cuerpo_texto_tutorial ¿Necesitas que te haga un tutorial?
                        
                        button#HOME_tutorial_si SÍ
                        img#HOME_asistente_tutorial(src="./img/asistente2.png")
                        button#HOME_tutorial_no NO
                
                nav#HOME_MENU
                    div.HOME_menu-item
                        img#HOME_INICIO(src="./img/icon/casa.png", class="HOME_menu_imagen")
                        p.HOME_menu_texto#HOME_INICIO Inicio    
                    div.HOME_menu-item
                        img#HOME_BUSQUEDA(src="./img/icon/lupa.png", class="HOME_menu_imagen")
                        p.HOME_menu_texto#HOME_BUSQUEDA Búsqueda 
                    div.HOME_menu-item
                        img#HOME_CORREO(src="./img/icon/mail.png", class="HOME_menu_imagen")
                        p.HOME_menu_texto#HOME_CORREO Mensajes    
                        
            script(type="text/javascript", src="../js/home.js")   
            script(type="text/javascript", src="../js/home_oferente.js")


    //- No existe el usuario    
    -else
        script.
            location.href ='/iniciarSesion';  