extends layout.pug 

block content

    -if(usuario != null)

        //- PERFIL ADMIN
        -if(usuario.rol == "admin")

            div#div_home

                nav#HOME_HEADER 
                    p#HOME_nombre_empresa TeamWork
                    p#HOME_nombre=usuario.nombre
                    div#HOME_flechita
                        div#HOME_menu_flechita
                            nav 
                                div Mi Cuenta 
                                div Configuración 
                                div Cerrar Sesión
                    img#HOME_foto_perfil(src="./img/fotoprueba.png")

                div#HOME_cuerpo 
                    h1#HOME_cuerpo_titulo ¡ Le damos la bienvenida a Innovatec !
                    p#HOME_cuerpo_texto_nombre Desde TeamWork, esperamos que vaya bien la instancia Raúl Gómez Muñoz.
                    p#HOME_cuerpo_texto_no_nombre ¿No eres Raúl Gómez Muñoz?
                    p#HOME_cuerpo_texto_tutorial ¿Necesitas que te haga un tutorial?
                    img#HOME_cuerpo_imagen_empresa(src="./img/empresa1.png")
                    button#HOME_tutorial_si SÍ
                    img#HOME_asistente_tutorial(src="./img/asistente2.png")
                    button#HOME_tutorial_no NO

                nav#HOME_MENU
                    div.HOME_menu-item
                        img(src="./img/icon/casa.png", class="HOME_menu_imagen")
                        p.HOME_menu_texto Inicio   
                    div.HOME_menu-item
                        img(src="./img/icon/mail.png", class="HOME_menu_imagen")
                        p.HOME_menu_texto Correo    
                    div.HOME_menu-item
                        img(src="./img/icon/modulo.png", class="HOME_menu_imagen")
                        p.HOME_menu_texto Módulos   
                    div.HOME_menu-item
                        img(src="./img/icon/estadisticas.png", class="HOME_menu_imagen")
                        p.HOME_menu_texto Estadisticas  

        //- PERFIL EMPRESARIO
        -if(usuario.rol == "empresario")
            input#HOME_DNI_USUARIO(type="text", value=usuario.dni)
            input#HOME_COLOR_USUARIO(type="text", value=usuario.color)
            div#div_home
               
                nav#HOME_HEADER 
                    p#HOME_nombre_empresa=usuario.nombre_empresa
                    p#HOME_nombre=usuario.nombre
                    div#HOME_flechita
                        div#HOME_menu_flechita
                            nav 
                                div Mi Cuenta 
                                div Configuración 
                                div#HOME_cerrar_sesion Cerrar Sesión
                    img#HOME_foto_perfil(src="./img/fotoprueba.png")

                div#HOME_cuerpo 

                    h1#HOME_cuerpo_titulo ¡ Le damos la bienvenida a #{usuario.nombre_empresa} !
                    p#HOME_cuerpo_texto_nombre Desde TeamWork, esperamos que vaya bien la instancia #{usuario.nombre}.
                    p#HOME_cuerpo_texto_no_nombre ¿No eres #{usuario.nombre}?
                    img#HOME_cuerpo_imagen_empresa(src="./img/empresa1.png")
                    -if(usuario.tutorial == "none")
                        p#HOME_cuerpo_texto_tutorial ¿Necesitas que te haga un tutorial?
                        
                        button#HOME_tutorial_si SÍ
                        img#HOME_asistente_tutorial(src="./img/asistente2.png")
                        button#HOME_tutorial_no NO
                    


                nav#HOME_MENU
                    div.HOME_menu-item
                        img#HOME_INICIO(src="./img/icon/casa.png", class="HOME_menu_imagen")
                        p.HOME_menu_texto#HOME_INICIO Inicio   
                    div.HOME_menu-item
                        img#HOME_LISTADO(src="./img/icon/contacto.png", class="HOME_menu_imagen")
                        p.HOME_menu_texto#HOME_LISTADO Listado   
                    div.HOME_menu-item
                        img#HOME_PERSONAL(src="./img/icon/personal.png", class="HOME_menu_imagen")
                        p.HOME_menu_texto#HOME_PERSONAL Personal 
                    div.HOME_menu-item
                        img(src="./img/icon/mail.png", class="HOME_menu_imagen")
                        p.HOME_menu_texto Correo    
                    div.HOME_menu-item
                        img(src="./img/icon/modulo.png", class="HOME_menu_imagen")
                        p.HOME_menu_texto Módulos   
                    div.HOME_menu-item
                        img(src="./img/icon/estadisticas.png", class="HOME_menu_imagen")
                        p.HOME_menu_texto Estadisticas 
                     

        script(type="text/javascript", src="../js/home_empresario.js")
       
        //- PERFIL TRABAJADOR
        -if(usuario.rol == "trabajador")

            p Hola estas en TRABAJADOR 

        //- PERFIL EMPRESARIO
        -if(usuario.rol == "oferente")

            div#div_home
                
                div#home_header
                    p#HOME_nombre=usuario.nombre
                    div#HOME_flechita
                    img#HOME_foto_perfil(src="./img/fotoprueba.png")
                    
                div#home_menu
                    h1 Le damos la bienvenida a TeamWork
                    
                    img(src="./img/icon/inicio.png", class="HOME_menu_imagen")
                    p.HOME_menu_texto Inicio
                    img(src="./img/icon/empresa.png", class="HOME_menu_imagen")
                    p.HOME_menu_texto Empresa
                    img(src="", class="HOME_menu_imagen")
                    p.HOME_menu_texto Chat
                    img(src="", class="HOME_menu_imagen")
                    p.HOME_menu_texto Calendario
                    
                div#home_body
                div#home_footer


    //- No existe el usuario    
    -else
        script.
            location.href ='/iniciarSesion';  